:root{
  --cor-titulo-principal: #FF010A;
}


@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Dash-Horizon;
  src: url(../fonts/Dash-Horizon-Demo.otf);
}


html,
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/background.png);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
